.column {
    float: left;
    width: 100%;
    text-align: center;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .sort-by-asc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px black;
    border-top-width: 0;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px black;
    border-bottom-width: 0;
}
.myTab {
  width: 100%;
}

.colorRed {
  color: red;
}
.compareBtn {
  height: 30px;
  width: 200px;
  background-color: dodgerblue;
  margin: 20px;
  color: white;
  font-size: 16px;
  margin: o auto;
}
.errorMsg {
  font-size: 20px;
}

.close{
  color: white;
  background-color: blue;
}