<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="inner-container">
      <div class="imageDiv">
          <div class="image"></div>
          <div class="titleText">Travel Insurance</div>
        </div>
      
        <div class="formDiv">
          <div class="start"> 
              <div><strong>Start Date</strong></div>
              <input type="date" name="start date" class="start-in"/>
          </div>
      
          <div class="end">
              <div><strong>End Date</strong> </div>
              <input type="date" name="end date" class="end-in"/>
          </div>
      
          <div class="policy">
              <div><strong>Policy max</strong></div>
              <input class="policy-in" placeholder="Choose Your Policy Maximum"/>
          </div>
      
          <div class="citizen">
              <div><strong>Citizenship</strong></div>
              <input class="citizen-in" placeholder="Choose Your Country Of Citizenship"/>
          </div>
      
          <div class="age">
              <div><strong>Age/year</strong></div>
              <input class="age-in" placeholder="Choose Your Age"/>
          </div>
      
          <div class="state">
              <div><strong>Mailing State</strong></div>
              <input class="state-in" placeholder="Choose Your State"/>
          </div>
        </div>
      
        <div class="tailDiv">
          <button class="width100 QuoteButton">GET QUOTES</button>
          <a class="width100 resetLink" href="google.com"><i>Reset Form</i></a>
        </div>
  </div>
</div>

<router-outlet></router-outlet>
