.container {
    padding: 20px;
    margin: 20px;
}
.inner-container {
    border-style: groove;
    width: 900px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}
@media only screen and (max-width: 730px) {
    .inner-container {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .image {
        width: 130px;
    }
}
.imageDiv {
    height: 97px;
    background-color: #ecf2f7;
}

.formDiv {
    height: 60%;
    margin-left: 80px;
    padding: 20px;
}

.tailDiv {
    height: 20%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 76%;
}
div.image {
    content:url(../assets/insu_ico.png);
    display: inline;
}

.titleText {
    font-size: 24px;
    color: #3F51B5;
    vertical-align: top;
    display: inline;
}

.width100 {
    width: 100%;
}

.colorRed {
    color: red;
}


.QuoteButton {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-left: 66px;
    background-color: orange;
    font-size: 15px;
}

.resetLink {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 134px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    width: 95px;
}

.resetLink:hover{
    text-decoration: underline;
    color: blue;
}

.start {
    width: 350px;
    float: left;
    margin: 10px;
}
.end {
    width: 350px;
    float: left;
    margin: 10px;
}
.start-in {
    width: 300px;
    height: 35px;
}
.end-in {
    width: 300px;
    height: 35px;
}
.policy {
    width: 350px;
    float: left;
    margin: 10px;
}
.policy-in {
    height: 35px;
    width: 300px;
}
.citizen {
    width: 350px;
    float: left;
    margin: 10px;
}
.citizen-in {
    width: 300px;
    height: 35px;
}
.age {
    width: 350px;
    float: left;
    margin: 10px;
}
.state {
    width: 350px;
    float: left;
    margin: 10px;
}
.age-in {
    width: 300px;
    height: 35px;
}
.state-in {
    width: 300px;
    height: 35px;
}
.invalid {
    width: 300px;
    height: 0;
}
.error-txt {
    width: 300px;
}
.marginbtm {
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    .titleText {
        vertical-align: baseline;
        height: 55px;
    }
    .formDiv {
        margin-left: 0;
        padding: 0;
    }
    .start-in {
        width: 250px;
        border-style: groove;
        margin: 0;
    }
    .end-in {
        width: 250px;
        border-style: groove;
        margin: 0;
    }
    .policy-in {
        width: 250px;
        border-style: groove;
        margin: 0;
    }
    .age-in {
        width: 250px;
        border-style: groove;
        margin: 0;
    }
    .citizen-in {
        width: 250px;
        border-style: groove;
        margin: 0;
    }
    .state-in {
        width: 250px;
        border-style: groove;
        margin: 0;
    }
    .tailDiv {
        margin: 0;
        padding: 0;
        width: 70%;
    }
    .QuoteButton {
        margin-left: 33px !important;
    }
    .resetLink {
        margin-left: 65px !important
    }
  }